<%if(locals.blog){%>
    <div class="container mt-4">
        <div>
            <div class="d-flex align-items-center justify-content-between" style="width: 18rem;">
                <a style="text-decoration: none; color: black;" href="/user/profile/<%=blog.createdBy._id%>">
                    <p style="font-size: 1.2rem; cursor: pointer;"><%=blog.createdBy.name%></p>
                </a>
                    <%if(locals.user && user._id == blog.createdBy._id){%>
                    <a class="anchor mx-2" href="/blog/destroy/<%=blog._id%>">Delete</a>
                    <%}%>
                
            </div>
            <h3 class="my-4"><%=blog.title%></h3>
            <img src="<%=blogImg%>" alt="" class="blogImg">
        </div>
        <div class="container my-4 p-2 rounded" style="background-color: #fcf1f1;">
            <p style="white-space: pre-wrap" class="content" id="content"><%=blog.content%></p>
            <small id="readMore">Read More..</small>
        </div>
      
</div>
<%}else{%>
    <h1>Blog Not Found</h1>
<%}%>