<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/displayBlog.css">
    <style>
        
    .toggleContent{
    max-height: 10rem;
    overflow: hidden;
    }
    </style>
    <title><%=title%></title>
</head>
<%-include('./partials/bootstrapStyles')-%>
<body>

    <%-include('./partials/Navbar')%>

    <%-include('./partials/blog')%>

    <%-include('./partials/Comment')%>
    

    <%-include('./partials/bootstrapScripts')-%>

</body>
<script src="https://kit.fontawesome.com/338e4173fa.js" crossorigin="anonymous"></script>
<script src="/JS/displayBlog.js"></script>
</html>